.flex, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start prefix mixin */
/* End prefix mixin */
/* Start Global */
body {
  font-family: "Kaushan Script";
}

button {
  cursor: pointer;
}

/* End Global */
/* crayons */
.crayons-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #000;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.crayons-btn:hover {
  background-color: #d4145a;
  color: #FFF;
  border-color: #d4145a !important;
}
.crayons-btn:focus {
  outline: none;
}

/* End of crayons */
/* Start Explore button */
.explore {
  background-color: #000;
  font-size: 18px;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* End Explore button */
/* Explore button exist in about section */
.about-explore {
  padding: 8px 15px;
  background-color: #d4145a;
  font-size: 16px;
  color: #FFF;
  border-color: #d4145a !important;
}
.about-explore:hover {
  background-color: #000;
  color: #fff;
  border-color: #000 !important;
}

/* End of Explore button exist in about section */
/* Explore button exist in store section */
.store-btn {
  padding: 6px 14px;
  margin: 0 5px;
  background-color: transparent;
  font-size: 16px;
  color: #000;
  border-color: #000 !important;
}
.store-btn:hover {
  background-color: #d4145a;
  color: #fff;
  border-color: #d4145a !important;
}
.store-btn.active {
  background-color: #d4145a;
  color: #fff;
  border-color: #d4145a !important;
}

.search-btn {
  background-color: #d4145a;
  margin-left: -4px;
  padding: 0.61rem 1.75rem;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.search-btn:focus {
  outline: none;
}

/* End of Explore button exist in store section */
/* Media query */
@media (max-width: 575.98px) {
  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }

  /* End of crayons */
  /* Explore button in extra small*/
  .explore {
    font-size: 16px;
  }

  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }

  /* End of Explore button in extra small*/
  .store-btn {
    font-size: 14px;
    margin: 5px;
  }

  .search-btn {
    padding: 0.61rem 1.5rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }

  /* End of crayons */
  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }

  .about-explore {
    padding: 7px 16px;
    font-size: 15px;
  }

  .store-btn {
    font-size: 14px;
    margin: 5px;
    padding: 7px 10px;
  }

  /* End of Explore button in extra small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }

  /* End of crayons */
  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }

  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }

  .store-btn {
    font-size: 14px;
    margin: 5px;
    padding: 7px 10px;
  }

  /* End of Explore button in extra small*/
}
@media (min-width: 1500px) {
  /* crayons */
  .crayons-btn {
    padding: 10px 20px;
  }

  /* End of crayons */
  /* Explore button in extra large*/
  .explore {
    font-size: 25px;
  }

  .about-explore {
    padding: 10px 25px;
    font-size: 18px;
  }

  /* End of Explore button in extra large*/
  .store-btn {
    font-size: 22px;
    padding: 14px 22px;
  }

  .search-btn {
    padding: 1.25rem 1.75rem;
    margin-bottom: 9px;
    font-size: 23px;
  }
}
/* End of Media query */
.heading-title {
  font-size: 50px;
  margin-bottom: 0.5rem;
  color: #000;
}
.heading-title span {
  color: #d4145a;
  font-weight: bold;
}

/* Navbar */
.navbar {
  background: #FFF !important;
  font-family: "open sans";
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.navbar .navbar-brand {
  width: 35px;
}
.navbar .navbar-nav {
  text-align: center;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #585858;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #d4145a;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #d4145a;
}
.navbar .phone {
  color: #585858 !important;
}
.navbar .cart-items {
  padding: 0.5rem 1rem;
  border: 2px solid #d4145a;
  background-color: #d4145a;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .cart-items:hover {
  color: #585858;
}
.navbar .cart-items i {
  padding-right: 10px;
}
.navbar .cart-items h5 {
  font-size: 16px;
  display: inline-block;
  margin: 0;
}

/* End of navbar */
.scrolled {
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  padding: 0.25rem 1rem;
}

@media (max-width: 575.98px) {
  /* Navbar in extra small*/
  .navbar .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    font-weight: 400;
  }
  .navbar .navbar-nav .nav-item .nav-link.active {
    color: #d4145a;
  }
  .navbar .cart-items {
    text-align: center;
    width: 75%;
    margin: 10px auto;
  }

  /* End of navbar in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Navbar in small*/
  .navbar .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.3rem;
  }
  .navbar .navbar-nav .nav-item .nav-link.active {
    color: #d4145a;
  }
  .navbar .cart-items {
    text-align: center;
    width: 45%;
    margin: 10px auto;
  }

  /* End of navbar in small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Navbar in Medium*/
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.3rem;
  }
  .navbar .navbar-nav .nav-item .nav-link.active {
    color: #d4145a;
  }
  .navbar .cart-items {
    text-align: center;
    width: 25%;
    margin: 15px auto;
  }

  /* End of navbar in Medium*/
}
@media (min-width: 1500px) {
  /* Navbar in small*/
  .navbar .navbar-brand {
    width: 60px;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 23px;
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #d4145a;
  }
  .navbar .navbar-nav .nav-item .nav-link.active {
    color: #d4145a;
  }
  .navbar .cart-items {
    padding: 1rem;
  }
  .navbar .cart-items:hover {
    color: #585858;
  }
  .navbar .cart-items i {
    font-size: 20px;
  }
  .navbar .cart-items h5 {
    font-size: 23px;
  }

  /* End of navbar in small*/
}
/* Header */
.header {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(212, 20, 90, 0.5), rgba(206, 131, 69, 0.5)), url(../images/img/bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  z-index: 1;
}
.header .header-info {
  padding: 30px 0;
  width: 80%;
  margin: auto;
  z-index: 2;
  background: rgba(238, 238, 238, 0.27);
}
.header .header-info h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #000;
}
.header .header-info h1 span {
  color: #d4145a;
  font-weight: bold;
  font-size: 60px;
}

/* End of header */
/* Media query */
@media (max-width: 575.98px) {
  /* Header in extra small*/
  .header .header-info {
    padding: 25px 0;
    width: auto;
    margin: auto;
  }
  .header .header-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header .header-info h1 span {
    font-size: 45px;
  }

  /* End of Header in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Header in small*/
  .header .header-info {
    padding: 25px 0;
    margin: auto;
  }
  .header .header-info h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header .header-info h1 span {
    font-size: 45px;
  }

  /* End of Header in small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Header in Medium*/
  .header .header-info {
    padding: 25px 0;
    margin: auto;
  }
  .header .header-info h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .header .header-info h1 span {
    font-size: 50px;
  }

  /* End of Header in Medium*/
}
@media (min-width: 1500px) {
  /* Header in small*/
  .header .header-info {
    padding: 35px 0;
    width: 65%;
  }
  .header .header-info h1 {
    font-size: 55px;
    margin-bottom: 15px;
  }
  .header .header-info h1 span {
    font-size: 60px;
  }

  /* End of Header in small*/
}
/* End of Media Query */
/* About section */
.about {
  padding: 50px 0;
}
.about .about-content {
  padding: 50px 0;
}
.about .about-content p {
  color: #585858;
  line-height: 1.7;
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Open Sans";
  padding-bottom: 1rem;
}
.about .about-image {
  border: 10px solid #d4145a;
}

/* End of About section */
/* Media query */
@media (max-width: 575.98px) {
  /* About in extra small*/
  .about {
    padding: 30px 0;
  }
  .about .about-content {
    padding: 0;
    padding-bottom: 30px;
  }
  .about .about-content .heading-title {
    font-size: 40px;
  }

  /* End of About in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* About in small*/
  .about {
    padding: 40px 0;
  }
  .about .about-content {
    padding: 0;
    padding-bottom: 40px;
  }
  .about .about-content .heading-title {
    font-size: 40px;
  }

  /* End of About in small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* About in Medium*/
  .about {
    padding: 40px 0;
  }
  .about .about-content {
    padding: 0;
  }
  .about .about-content .heading-title {
    font-size: 35px;
  }
  .about .about-content p {
    line-height: 1.6;
    font-size: 16px;
  }

  /* End of About in Medium*/
}
@media (min-width: 1500px) {
  /* About in small*/
  .about {
    padding: 60px 0;
  }
  .about .about-content .heading-title {
    font-size: 60px;
  }
  .about .about-content p {
    line-height: 1.6;
    font-size: 22px;
  }

  /* End of About in small*/
}
/* End of Media Query */
/* Start Store */
.store {
  padding: 50px 0;
  background: #EEE;
}
.store .heading-title {
  margin-bottom: 1.2rem;
}
.store form {
  padding: 35px 0;
  width: 85%;
  margin: auto;
}
.store form i {
  color: #000;
}
.store form .input-item {
  display: inline-block;
  padding: 8px 0;
  text-indent: 10px;
  width: 60%;
  outline: none;
  height: calc(1.5em + 0.75rem + .45rem);
  border: 1px solid #969696;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.store form .input-item:focus {
  outline: none;
}
.store .store-item {
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  -webkit-box-shadow: 0px 0px 5px 1px #dfdfdf;
  -moz-box-shadow: 0px 0px 5px 1px #dfdfdf;
  -o-box-shadow: 0px 0px 5px 1px #dfdfdf;
  -ms-box-shadow: 0px 0px 5px 1px #dfdfdf;
  box-shadow: 0px 0px 5px 1px #dfdfdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.store .store-item .img-item {
  position: relative;
  overflow: hidden;
}
.store .store-item .img-item img {
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.store .store-item .img-item:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.store .store-item .img-item .store-item-icon {
  position: absolute;
  right: -40px;
  bottom: -50px;
  width: 40px;
  height: 50px;
  background: #ce8345;
  color: #000;
  text-align: center;
  line-height: 50px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
  opacity: 0;
}
.store .store-item .img-item .store-item-icon i {
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.store .store-item .img-item .store-item-icon i:hover {
  color: #FFF;
}
.store .store-item .img-item:hover .store-item-icon {
  right: 0px;
  bottom: 0px;
  opacity: 1;
}
.store .store-item .item-info {
  padding: 30px 15px;
  background: #FFF;
}
.store .store-item .item-info span {
  font-size: 20px;
  letter-spacing: 1px;
}
.store .store-item .item-info span:last-of-type {
  position: absolute;
  right: 30px;
  font-weight: 600;
}

/* End Store */
/* Media Query */
@media (max-width: 575.98px) {
  /* Store in extra small*/
  .store {
    padding: 30px 0;
  }
  .store .heading-title {
    margin-bottom: 1rem;
    font-size: 45px;
  }
  .store form {
    padding: 25px 0;
    width: 100%;
  }
  .store form .input-item {
    width: 78%;
  }

  /* End of Store in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Store in small*/
  .store {
    padding: 40px 0;
  }
  .store .heading-title {
    margin-bottom: 1rem;
    font-size: 45px;
  }
  .store form {
    padding: 25px 0;
    width: 100%;
  }
  .store form .input-item {
    width: 85%;
  }

  /* End of Store in small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Store in Medium*/
  .store {
    padding: 40px 0;
  }
  .store .heading-title {
    margin-bottom: 1rem;
    font-size: 45px;
  }
  .store form {
    padding: 25px 0;
    width: 100%;
  }
  .store form .input-item {
    width: 75%;
  }

  /* End of Store in Medium*/
}
@media (min-width: 1500px) {
  /* Store in small*/
  .store {
    padding: 60px 0;
  }
  .store .heading-title {
    margin-bottom: 1.7rem;
    font-size: 60px;
  }
  .store form {
    padding: 35px 0;
    width: 85%;
    margin: auto;
  }
  .store form i {
    color: #000;
  }
  .store form .input-item {
    font-size: 25px;
    width: 85%;
    height: calc(1.5em + 0.75rem + 1.45rem);
  }
  .store .store-item .img-item .store-item-icon {
    font-size: 25px;
    width: 65px;
    height: 70px;
    line-height: 70px;
  }
  .store .store-item .img-item:hover .store-item-icon {
    right: 0px;
    bottom: 0px;
    opacity: 1;
  }
  .store .store-item .item-info {
    padding: 35px 25px;
  }
  .store .store-item .item-info span {
    font-size: 28px;
  }

  /* End of Store in small*/
}
/* End of Media Query */
/* Services section */
.services {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/img/services-bg.jpeg") center center no-repeat fixed;
  background-size: cover;
}
.services .service-item {
  color: #FFF;
  margin: 15px 0;
}
.services .service-item h3 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
  padding: 15px 0;
  font-weight: 600;
}
.services .service-item p {
  line-height: 1.7;
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans";
  color: #d8d8d8;
}

/* End of Services section */
/* Media query */
@media (max-width: 575.98px) {
  /* Services in extra small*/
  .services {
    padding: 30px 0;
  }
  .services .service-item {
    margin-bottom: 15px;
  }
  .services .service-item h3 {
    font-size: 23px;
    padding: 10px 0;
  }
  .services .service-item p {
    font-size: 16px;
  }

  /* End of Services in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Services in small*/
  .services {
    padding: 30px 0;
  }

  /* End of Services in small*/
}
@media (min-width: 1500px) {
  /* Services in Extra large*/
  .services {
    padding: 60px 0;
  }
  .services .service-item {
    margin: 0;
  }
  .services .service-item img {
    width: 100px;
  }
  .services .service-item h3 {
    font-size: 35px;
  }
  .services .service-item p {
    font-size: 25px;
  }

  /* End of Services in Extra large*/
}
/* End of Media Query */
/* Start Footer */
.footer .social {
  padding: 50px 0;
  background-color: #000;
  color: #FFF;
}
.footer .social .social-content .heading-title {
  color: #d4145a;
  margin-bottom: 4rem;
}
.footer .social .social-content ul {
  margin: 20px 0;
}
.footer .social .social-content ul li {
  display: inline-block;
  padding: 0 35px;
}
.footer .social .social-content ul li a {
  color: #FFF;
}
.footer .social .social-content ul li a i {
  font-size: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer .social .social-content ul li a i.fa-facebook-f:hover {
  color: #3b5998;
}
.footer .social .social-content ul li a i.fa-instagram:hover {
  color: #e1306c;
}
.footer .social .social-content ul li a i.fa-twitter:hover {
  color: #1da1f2;
}
.footer .social .social-content ul li a i.fa-linkedin-in:hover {
  color: #0077b5;
}
.footer .contact {
  padding: 50px 30px;
  background-color: #EEE;
}
.footer .contact ul {
  margin: 20px 0;
}
.footer .contact ul li {
  padding: 10px 0;
  display: block;
  font-family: "Open Sans";
}
.footer .contact ul li i {
  padding-right: 10px;
  font-size: 20px;
}
.footer .contact ul li span {
  color: #4f4f4f;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

/* End Footer */
/* Start Copyright */
.copyright {
  padding: 30px 0;
  border-top: 1px solid #cfcfcf;
  font-family: "Open Sans";
}
.copyright .copyright-info p {
  text-transform: capitalize;
  font-size: 17px;
  margin: 0;
  color: #545454;
}
.copyright .copyright-info p a {
  color: #d4145a;
  text-decoration: none;
  font-weight: 700;
}

/* End Copyright */
/* Media query */
@media (max-width: 575.98px) {
  /* Footer in extra small*/
  /* Start Footer */
  .footer .social {
    padding: 30px 0px;
  }
  .footer .social .social-content .heading-title {
    margin-bottom: 1rem;
    font-size: 40px;
  }
  .footer .social .social-content ul {
    margin: 10px 0;
  }
  .footer .social .social-content ul li {
    padding: 0 20px;
  }
  .footer .social .social-content ul li a i {
    font-size: 22px;
  }
  .footer .contact {
    padding: 30px 0px;
  }
  .footer .contact .heading-title {
    font-size: 40px;
  }
  .footer .contact ul {
    margin: 10px 0;
  }
  .footer .contact ul li {
    padding: 7px 0;
  }
  .footer .contact ul li i {
    font-size: 17px;
  }
  .footer .contact ul li span {
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
  }

  /* End Footer */
  /* Start Copyright */
  .copyright {
    padding: 20px 0;
  }
  .copyright .copyright-info p {
    font-size: 14px;
  }

  /* End Copyright */
  /* End of Footer in extra small*/
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Footer in small*/
  /* Start Footer */
  .footer .social {
    padding: 40px 0px;
  }
  .footer .social .social-content .heading-title {
    margin-bottom: 2rem;
    font-size: 45px;
  }
  .footer .social .social-content ul {
    margin: 10px 0;
  }
  .footer .social .social-content ul li {
    padding: 0 25px;
  }
  .footer .social .social-content ul li a i {
    font-size: 24px;
  }
  .footer .contact {
    padding: 40px 0px;
  }
  .footer .contact .heading-title {
    font-size: 45px;
  }
  .footer .contact ul {
    margin: 10px 0;
  }
  .footer .contact ul li i {
    font-size: 20px;
  }
  .footer .contact ul li span {
    font-size: 17px;
  }

  /* End Footer */
  /* Start Copyright */
  .copyright {
    padding: 20px 0;
  }
  .copyright .copyright-info p {
    font-size: 14px;
  }

  /* End Copyright */
  /* End of Footer in small*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Footer in Medium*/
  /* Start Footer */
  .footer .social {
    padding: 40px 0px;
  }
  .footer .social .social-content .heading-title {
    margin-bottom: 3rem;
    font-size: 45px;
  }
  .footer .social .social-content ul {
    margin: 10px 0;
  }
  .footer .social .social-content ul li {
    padding: 0 25px;
  }
  .footer .social .social-content ul li a i {
    font-size: 24px;
  }
  .footer .contact {
    padding: 40px 30px;
  }
  .footer .contact .heading-title {
    font-size: 45px;
  }
  .footer .contact ul {
    margin: 10px 0;
  }
  .footer .contact ul li i {
    font-size: 20px;
  }
  .footer .contact ul li span {
    font-size: 17px;
  }

  /* End Footer */
  /* Start Copyright */
  .copyright {
    padding: 25px 0;
  }

  /* End Copyright */
  /* End of Footer in Medium*/
}
@media (min-width: 1500px) {
  /* Footer in small*/
  /* Start Footer */
  .footer .social {
    padding: 60px 0;
  }
  .footer .social .social-content .heading-title {
    margin-bottom: 3rem;
    font-size: 60px;
  }
  .footer .social .social-content ul li a i {
    font-size: 34px;
  }
  .footer .contact {
    padding: 60px 35px;
  }
  .footer .contact .heading-title {
    font-size: 60px;
    margin-bottom: 1rem;
  }
  .footer .contact ul {
    margin: 10px 0;
  }
  .footer .contact ul li i {
    font-size: 32px;
  }
  .footer .contact ul li span {
    font-size: 27px;
  }

  /* End Footer */
  /* Start Copyright */
  .copyright {
    padding: 40px 0;
  }
  .copyright .copyright-info p {
    font-size: 30px;
  }

  /* End Copyright */
  /* End of Footer in small*/
}
/* End of Media Query */

/*# sourceMappingURL=style.css.map */
