/* Start Footer */
.footer{
    .social{
        padding : 50px 0;
        background-color: #000;
        color : #FFF;
        .social-content {
            .heading-title{
                color: $mainColor;
                margin-bottom: 4rem;
            }
            ul {
                margin: 20px 0;
                li{
                    display : inline-block;
                    padding : 0 35px;
                    a{
                        color : #FFF;
                        i{
                            font-size: 25px;
                            @include prefixer(transition, all .4s ease-in-out, webkit moz o ms);
                            &.fa-facebook-f:hover{
                                color: #3b5998;
                            }
                            &.fa-instagram:hover {
                                color: #e1306c;
                            }
                            &.fa-twitter:hover {
                                color: #1da1f2;
                            }
                            &.fa-linkedin-in:hover {
                                color: #0077b5;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .contact{
        padding : 50px 30px;
        background-color: $greyColor;
        ul {
            margin: 20px 0;
            li{
                padding :10px 0;
                display: block;
                font-family: 'Open Sans';
                i{
                    padding-right: 10px;
                    font-size: 20px;
                }
                span{
                    color: #4f4f4f;
                    font-size: 15px;
                    font-weight: 400;
                    font-style: italic;
                }
            }
        }
    }
        
}
/* End Footer */
/* Start Copyright */
.copyright{
    padding : 30px 0; 
    border-top : 1px solid #cfcfcf;
    font-family: 'Open Sans';
    .copyright-info{
        p {
            text-transform: capitalize;
            font-size: 17px;
            margin: 0;
            color: #545454;

            a {
                color: $mainColor;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}

/* End Copyright */

/* Media query */

// Extra small devices
@media (max-width : 575.98px) {

    /* Footer in extra small*/
    /* Start Footer */
    .footer {
        .social {
            padding: 30px 0px;
            .social-content {
                .heading-title {
                    margin-bottom: 1rem;
                    font-size: 40px;
                }
                ul {
                    margin: 10px 0;
                    li {
                        padding: 0 20px;
                        a {
                            i {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

        }

        .contact {
            padding: 30px 0px;
            .heading-title {
                font-size: 40px;
            }
            ul {
                margin: 10px 0;

                li {
                    padding: 7px 0;

                    i {
                        font-size: 17px;
                    }

                    span {
                        color: #4f4f4f;
                        font-size: 15px;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }

    }

    /* End Footer */
    /* Start Copyright */
    .copyright {
        padding: 20px 0;
        .copyright-info {
            p {
                font-size: 14px;
                
            }
        }
    }
    /* End Copyright */

    /* End of Footer in extra small*/
}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Footer in small*/
    /* Start Footer */
    .footer {
        .social {
            padding: 40px 0px;
            .social-content {
                .heading-title {
                    margin-bottom: 2rem;
                    font-size: 45px;
                }
                ul {
                    margin: 10px 0;
                    li {
                        padding: 0 25px;
                        a {
                            i {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        .contact {
            padding: 40px 0px;
            .heading-title {
                font-size: 45px;
            }
            ul {
                margin: 10px 0;
                li {
                    i {
                        font-size: 20px;
                    }
                    span {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    /* End Footer */
    /* Start Copyright */
    .copyright {
        padding: 20px 0;
        .copyright-info {
            p {
                font-size: 14px;
            }
        }
    }
    /* End Copyright */
    /* End of Footer in small*/
}

// Medium devices 
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Footer in Medium*/
    /* Start Footer */
    .footer {
        .social {
            padding: 40px 0px;
            .social-content {
                .heading-title {
                    margin-bottom: 3rem;
                    font-size: 45px;
                }
                ul {
                    margin: 10px 0;
                    li {
                        padding: 0 25px;
                        a {
                            i {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
        .contact {
            padding: 40px 30px;
            .heading-title {
                font-size: 45px;
            }
            ul {
                margin: 10px 0;
                li {
                    i {
                        font-size: 20px;
                    }
                    span {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    /* End Footer */
    /* Start Copyright */
    .copyright {
        padding: 25px 0;
    }
    /* End Copyright */
    /* End of Footer in Medium*/
}

// Extra large devices 
@media (min-width: 1500px) {

    /* Footer in small*/
    /* Start Footer */
    .footer {
        .social {
            padding: 60px 0;
            .social-content {
                .heading-title {
                    margin-bottom: 3rem;
                    font-size: 60px;
                }
                ul {
                    li {
                        a {
                            i {
                                font-size: 34px;
                            }
                        }
                    }
                }
            }
        }
        .contact {
            padding: 60px 35px;
            .heading-title {
                font-size: 60px;
                margin-bottom: 1rem;
            }

            ul {
                margin: 10px 0;

                li {
                    i {
                        font-size: 32px;
                    }

                    span {
                        font-size: 27px;
                    }
                }
            }
        }
    }

    /* End Footer */
    /* Start Copyright */
    .copyright {
        padding: 40px 0;
        .copyright-info{
            p {
                font-size: 30px;
            }
        } 
    }

    /* End Copyright */
    /* End of Footer in small*/
}

/* End of Media Query */
