/* Navbar */
.navbar{
    background : #FFF !important;
    font-family: 'open sans';
    @include prefixer(transition, all .25s ease-in, webkit moz o ms);
    .navbar-brand{
        width: 35px;
    }
    .navbar-nav{
        text-align : center;
        .nav-item{
            .nav-link{
                font-size: 16px;
                font-weight: 600;
                color: #585858;
                text-transform: uppercase;
                @include prefixer(transition, all .3s ease-in, webkit moz o ms);
                &:hover {
                    color: $mainColor;
                }
                &.active{
                    color: $mainColor;
                }
            }
        }
    }
    .phone{
        color: #585858 !important;
    }
    .cart-items{
        padding: .5rem 1rem;
        border: 2px solid $mainColor;
        background-color: $mainColor;
        color :#FFF;
        cursor : pointer;
        @include prefixer(transition, all .3s ease-in-out, webkit moz o ms);
        &:hover {
            color: #000;
        }
        
        i{
            padding-right : 10px;
        }
        h5{
            font-size: 16px;
            display: inline-block;
            margin: 0;
        }
    }
}
/* End of navbar */

.scrolled{
    box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 15%);
    padding: .25rem 1rem;
}

.active {
    color: $mainColor;
}

// Extra small devices
@media (max-width : 575.98px) {
    /* Navbar in extra small*/
    .navbar {

        .navbar-toggler {
            padding: 0.25rem 0.5rem;
        }

        .navbar-nav {
            text-align: center;
            .nav-item {
                .nav-link {
                    font-size: 15px;
                    font-weight: 400;

                    &.active {
                        color: $mainColor;
                    }
                }
            }
        }

        .cart-items {
            text-align: center;
            width: 75%;
            margin: 10px auto;
        }
    }

    /* End of navbar in extra small*/
}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Navbar in small*/
    .navbar {
        .navbar-toggler {
            padding: 0.25rem 0.5rem;
        }

        .navbar-nav {
            text-align: center;

            .nav-item {
                .nav-link {
                    padding: .3rem;

                    &.active {
                        color: $mainColor;
                    }
                }
            }
        }

        .cart-items {
            text-align: center;
            width: 45%;
            margin: 10px auto;
        }
    }

    /* End of navbar in small*/
}

// Medium devices 
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Navbar in Medium*/
    .navbar {
        .navbar-nav {
            text-align: center;
            .nav-item {
                .nav-link {
                    padding: .3rem;
                    &.active {
                        color: $mainColor;
                    }
                }
            }
        }

        .cart-items {
            text-align: center;
            width: 25%;
            margin: 15px auto;
        }
    }
    /* End of navbar in Medium*/
}

// Large devices 
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices 
@media (min-width: 1500px) {
    /* Navbar in small*/
    .navbar {
        .navbar-brand {
            width: 60px;
        }
        .navbar-nav {
            text-align: center;

            .nav-item {
                .nav-link {
                    font-size: 23px;
                    padding: .5rem 1rem;
                    &:hover {
                        color: $mainColor;
                    }

                    &.active {
                        color: $mainColor;
                    }
                }
            }
        }

        .cart-items {
            padding: 1rem;
            &:hover {
                color: #585858;
            }

            i {
                font-size: 20px;
            }

            h5 {
                font-size: 23px;
            }
        }
    }

    /* End of navbar in small*/
}
