/* Services section */
.services{
    padding : 50px 0; 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/img/services-bg.jpeg') center center no-repeat fixed;
    background-size : cover;
    .service-item{
        color : #FFF;
        margin: 15px 0;
        h3{
            text-transform: uppercase;
            font-size: 25px;
            margin: 0;
            padding: 15px 0;
            font-weight: 600;
        }
        p{
            line-height: 1.7;
            margin: 0;
            font-size: 18px;
            font-family: "Open Sans";
        }
    }
}
/* End of Services section */