/* Start Store */
.store{
  padding : 50px 0;
  background: $greyColor;
  .heading-title{
    margin-bottom: 1.2rem;
  }
  
  form {
    padding : 35px 0;
    width: 85%;
    margin: auto;
    i{
      color: #000;
    }
    .input-item{
      display: inline-block;
      padding: 8px 0;
      text-indent: 10px;
      width: 60%;
      outline: none;
      height: calc(1.5em + 0.75rem + .45rem);
      border : 1px solid rgb(150, 150, 150);
      @include prefixer(border-radius, 0px, webkit moz o ms);
      &:focus{
        outline: none;
      }
    }
  }
  .store-item {
    position: relative;
    overflow : hidden;
    margin : 15px 0; 
    @include prefixer(box-shadow, 0px 0px 5px 1px #dfdfdf, webkit moz o ms);
    @include prefixer(border-radius, 5px, webkit moz o ms);
    
    .img-item{
      position : relative;
      overflow : hidden;
      img {
        cursor : pointer;
        @include prefixer(transition, all .6s ease-in-out, webkit moz o ms);
      }
      &:hover img{
        @include prefixer(transform, scale(1.2), webkit moz o ms);
      }

      .store-item-icon {
        position: absolute;
        right: -40px;
        bottom: -50px;
        width: 40px;
        height: 50px;
        background: $yellowColor;
        color: #000;
        text-align: center;
        line-height: 50px;
        @include prefixer(transition, all .6s ease-in-out, webkit moz o ms);
        @include prefixer(border-top-left-radius, 15px, webkit moz o ms);
        cursor: pointer;
        opacity: 0;
        i {
          color : #000;
          @include prefixer(transition, all .5s ease-in-out, webkit moz o ms);
          &:hover{
            color : #FFF;
          }
        }
      }
      &:hover .store-item-icon {
        right: 0px;
        bottom: 0px;
        opacity: 1;
      }
    }
    .item-info{
      padding : 30px 15px;
      background :#FFF;
      
      span{
        font-size : 20px;
        letter-spacing : 1px;
        
        &:last-of-type{
          position: absolute;
          right: 30px;
          font-weight : 600;
        }
      }
    }
  }

}

/* End Store */

/* Media Query */

// Extra small devices
@media (max-width : 575.98px) {

  /* Store in extra small*/
  .store {
    padding: 30px 0;

    .heading-title {
      margin-bottom: 1rem;
      font-size: 45px;
    }

    form {
      padding: 25px 0;
      width: 100%;
      .input-item {
        width: 78%;
      }
    }

    
  }

  /* End of Store in extra small*/
}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) {

  /* Store in small*/
  .store {
    padding: 40px 0;

    .heading-title {
      margin-bottom: 1rem;
      font-size: 45px;
    }

    form {
      padding: 25px 0;
      width: 100%;

      .input-item {
        width: 85%;
      }
    }

  }
  /* End of Store in small*/
}

// Medium devices 
@media (min-width: 768px) and (max-width: 991.98px) {

  /* Store in Medium*/
  .store {
    padding: 40px 0;

    .heading-title {
      margin-bottom: 1rem;
      font-size: 45px;
    }

    form {
      padding: 25px 0;
      width: 100%;

      .input-item {
        width: 75%;
      }
    }

  }
  /* End of Store in Medium*/
}

// Large devices 
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices 
@media (min-width: 1500px) {

  /* Store in small*/
  .store {
    padding: 60px 0;

    .heading-title {
      margin-bottom: 1.7rem;
      font-size: 60px;
    }

    form {
      padding : 35px 0;
      width: 85%;
      margin: auto;
      i{
        color: #000;
      }
      .input-item{
        font-size: 25px;
        width: 85%;
        height: calc(1.5em + 0.75rem + 1.45rem);
      }
    }

    .store-item {

      .img-item {
        .store-item-icon {
          font-size: 25px;
          width: 65px;
          height: 70px;
          line-height: 70px;
          
        }

        &:hover .store-item-icon {
          right: 0px;
          bottom: 0px;
          opacity: 1;
        }
      }

      .item-info {
        padding: 35px 25px;
        span {
          font-size: 28px;
        }
      }
    }

  }
  /* End of Store in small*/
}



/* End of Media Query */