/* crayons */
.crayons-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #000;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  @include prefixer(border-radius, 5px, webkit moz o ms);
  @include prefixer(transition, all .25s ease-in, webkit moz o ms);

  &:hover {
    background-color: $mainColor;
    color: #FFF;
    border-color: $mainColor !important;
  }
}

/* End of crayons */

/* Start Explore button */
.explore {
  background-color: #000;
  font-size: 18px;
  color: $mainColor;
  @include prefixer(border-radius, 0px, webkit moz o ms);
}
/* End Explore button */

/* Explore button exist in about section */
.about-explore {
  padding: 8px 15px;
  background-color: $mainColor;
  font-size: 16px;
  color: #FFF;
  border-color: $mainColor !important;
  &:hover {
    background-color: #000;
    color: $mainColor;
    border-color: #000 !important;
  }
}

/* End of Explore button exist in about section */


/* Media query */

// Extra small devices
@media (max-width : 575.98px) {
  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }
  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 16px;
  }
  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }
  /* End of Explore button in extra small*/
}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) {

  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }
  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }
  .about-explore {
    padding: 7px 16px;
    font-size: 15px;
  }
  /* End of Explore button in extra small*/
}

// Small devices
@media (min-width: 768px) and (max-width: 991.98px) {

  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }

  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }

  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }

  /* End of Explore button in extra small*/
}

// Extra large devices 
@media (min-width: 1500px) {

    /* crayons */
    .crayons-btn {
      padding: 10px 20px;
    }

    /* End of crayons */

    /* Explore button in extra large*/
    .explore {
      font-size: 25px;
    }

    .about-explore {
      padding: 10px 25px;
      font-size: 18px;
    }
    /* End of Explore button in extra large*/
}

/* End of Media query */