/* crayons */
.crayons-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #000;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  @include prefixer(border-radius, 5px, webkit moz o ms);
  @include prefixer(transition, all .25s ease-in, webkit moz o ms);

  &:hover {
    background-color: $mainColor;
    color: #FFF;
    border-color: $mainColor !important;
  }
  &:focus{
    outline: none;
  }
}

/* End of crayons */

/* Start Explore button */
.explore {
  background-color: #000;
  font-size: 18px;
  color: #fff;
  @include prefixer(border-radius, 0px, webkit moz o ms);
}
/* End Explore button */

/* Explore button exist in about section */
.about-explore {
  padding: 8px 15px;
  background-color: $mainColor;
  font-size: 16px;
  color: #FFF;
  border-color: $mainColor !important;
  &:hover {
    background-color: #000;
    color: #fff;
    border-color: #000 !important;
  }
}

/* End of Explore button exist in about section */

/* Explore button exist in store section */
.store-btn {
  padding: 6px 14px;
  margin: 0 5px;
  background-color: transparent;
  font-size: 16px;
  color: #000;
  border-color: #000 !important;
  &:hover {
    background-color: $mainColor ;
    color: #fff;
    border-color: $mainColor !important;
  }

  &.active{
    background-color: $mainColor;
    color: #fff;
    border-color: $mainColor !important;
  }

}
.search-btn{
  background-color: $mainColor;
  margin-left: -4px;
  padding: .61rem 1.75rem;
  border: none;
  @include prefixer(border-radius, 0px, webkit moz o ms);

  &:focus {
    outline: none;
  }
}

/* End of Explore button exist in store section */

/* Media query */

// Extra small devices
@media (max-width : 575.98px) {
  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }
  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 16px;
  }
  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }
  /* End of Explore button in extra small*/

  .store-btn {
    font-size: 14px;
    margin: 5px;
  }

  .search-btn {
    padding: 0.61rem 1.5rem;
  }

}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) {

  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }
  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }
  .about-explore {
    padding: 7px 16px;
    font-size: 15px;
  }

  .store-btn {
    font-size: 14px;
    margin: 5px;
    padding: 7px 10px;
  }

  /* End of Explore button in extra small*/
}

// Small devices
@media (min-width: 768px) and (max-width: 991.98px) {

  /* crayons */
  .crayons-btn {
    padding: 7px 17px;
  }

  /* End of crayons */

  /* Explore button in extra small*/
  .explore {
    font-size: 17px;
  }

  .about-explore {
    padding: 7px 14px;
    font-size: 15px;
  }
  .store-btn {
    font-size: 14px;
    margin: 5px;
    padding: 7px 10px;
  }

  /* End of Explore button in extra small*/
}

// Extra large devices 
@media (min-width: 1500px) {

    /* crayons */
    .crayons-btn {
      padding: 10px 20px;
    }

    /* End of crayons */

    /* Explore button in extra large*/
    .explore {
      font-size: 25px;
    }

    .about-explore {
      padding: 10px 25px;
      font-size: 18px;
    }
    /* End of Explore button in extra large*/

    .store-btn {
      font-size: 22px;
      padding: 14px 22px;
    }
    .search-btn {
      padding: 1.25rem 1.75rem;
      margin-bottom: 9px;
      font-size: 23px;

    }

}

/* End of Media query */